In [1]:
from sqlalchemy import create_engine, inspect, Table, Column
import pandas as pd
from pyontutils.utils import *

engine_key = 'mysql+mysqlconnector://nif_eelg_secure:5Aruchug@dudley.crbs.ucsd.edu:3306/nif_eelg'
engine = create_engine(engine_key)

In [79]:
def check_er(df, ref):
    unique = set(df[ref][:])
    real = list(df[ref][:])
    if len(unique) < len(real): 
        return 'One to Many'
    return 'One to One'

In [160]:
data =  '''
        SELECT *
        FROM term_mapping_logs
        '''
df = pd.read_sql(data, engine)
df

            id    tmid           notes curation_status    uid        time
0            1       1  Initial upload         matched      0  1487886743
1            2       2  Initial upload         matched      0  1487886743
2            3       3  Initial upload         matched      0  1487886743
3            4       4  Initial upload         matched      0  1487886743
4            5       5  Initial upload         matched      0  1487886743
5            6       6  Initial upload         matched      0  1487886743
6            7       7  Initial upload         matched      0  1487886743
7            8       8  Initial upload         matched      0  1487886743
8            9       9  Initial upload         matched      0  1487886743
9           10      10  Initial upload         matched      0  1487886743
10          11      11  Initial upload         matched      0  1487886743
11          12      12  Initial upload         matched      0  1487886743
12          13      13  Initial upload         matched      0  1487886743
13          14      14  Initial upload         matched      0  1487886743
14          15      15  Initial upload         matched      0  1487886743
15          16      16  Initial upload         matched      0  1487886743
16          17      17  Initial upload         matched      0  1487886744
17          18      18  Initial upload         matched      0  1487886744
18          19      19  Initial upload         matched      0  1487886744
19          20      20  Initial upload         matched      0  1487886744
20          21      21  Initial upload         matched      0  1487886744
21          22      22  Initial upload         matched      0  1487886744
22          23      23  Initial upload         matched      0  1487886744
23          24      24  Initial upload         matched      0  1487886744
24          25      25  Initial upload         matched      0  1487886744
25          26      26  Initial upload         matched      0  1487886744
26          27      27  Initial upload         matched      0  1487886744
27          28      28  Initial upload         matched      0  1487886744
28          29      29  Initial upload         matched      0  1487886744
29          30      30  Initial upload         matched      0  1487886744
...        ...     ...             ...             ...    ...         ...
394484  394485  394484  Initial upload         matched      0  1487892268
394485  394486  394485  Initial upload         matched      0  1487892268
394486  394487  394486  Initial upload         matched      0  1487892268
394487  394488  394487  Initial upload         matched      0  1487892268
394488  394489  394488  Initial upload         matched      0  1487892268
394489  394490  394489  Initial upload         matched      0  1487892268
394490  394491  394490  Initial upload         matched      0  1487892268
394491  394492  394491  Initial upload         matched      0  1487892268
394492  394493  394492  Initial upload         matched      0  1487892268
394493  394494  394493  Initial upload         matched      0  1487892268
394494  394495  394494  Initial upload         matched      0  1487892268
394495  394496  394495  Initial upload         matched      0  1487892268
394496  394497  394496  Initial upload         matched      0  1487892268
394497  394498  394497  Initial upload         matched      0  1487892268
394498  394499  394498  Initial upload         matched      0  1487892268
394499  394500  394499  Initial upload         matched      0  1487892268
394500  394501  394500  Initial upload         matched      0  1487892268
394501  394502  394501  Initial upload         matched      0  1487892268
394502  394503  394502  Initial upload         matched      0  1487892268
394503  394504  394503  Initial upload         matched      0  1487892268
394504  394505  394504  Initial upload         matched      0  1487892268
394505  394506  394505  Initial upload         matched      0  1487892268
394506  394507  394506  Initial upload         matched      0  1487892268
394507  394508  394507  Initial upload         matched      0  1487892268
394508  394509  394508  Initial upload         matched      0  1487892268
394509  394510  394509  Initial upload         matched      0  1487892268
394510  394511  394510  Initial upload         matched      0  1487892268
394511  394512  394511  Initial upload         matched      0  1487892268
394512  394513  394512  Initial upload         matched      0  1487892268
394513  394514   58568         testing        approved  32290  1496768901

[394514 rows x 6 columns]

In [159]:
#%time check_er2(df, ref='tmid') 1 min and 8 sec

KeyError: 'tmid'

In [166]:
%time check_er3(df, ref='tmid')

KeyboardInterrupt:

In [147]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy', 'Jason'], 
        'year': [2012, 2012, 2013, 2014, 2014, 2012], 
        'reports': [4, 24, 31, 2, 3, 10]}
df = pd.DataFrame(data)
df

    name  reports  year
0  Jason        4  2012
1  Molly       24  2012
2   Tina       31  2013
3   Jake        2  2014
4    Amy        3  2014
5  Jason       10  2012

In [157]:
df.iloc[[0,1]]

    name  reports  year
0  Jason        4  2012
1  Molly       24  2012

In [165]:
def check_er2(df, ref):
    for target in df[ref]:
        seg_df = df.loc[df[ref]==target]
        if len(seg_df[ref]) > 1:
            return 'One to Many'
    return 'One to One'
def check_er3(df, ref):
    df2 = df.copy()
    for target in df[ref]:
        indices = [i for i, x in enumerate(df[ref]) if x == target]
        seg_df = df2.iloc[indices]
        [df2.drop(index, axis=0) for index in indices]
        if len(seg_df[ref]) > 1:
            return 'One to Many'
    return 'One to One'

In [127]:
check_er2(df, ref='name', target='Molly')

name Jason
          name  reports  year
Cochice  Jason        4  2012
Bob      Jason       10  2012

'One to Many'

In [2]:
def helper_pref_filter(iri_list, pref_list, terms_ilx):
    #print(pref_list)
    if 1 in pref_list:
        pref_index = pref_list.index(1)
        if '/ilx' in iri_list[pref_index]:
            nonpref_iris = [iri for iri in iri_list if iri != iri_list[pref_index]]
            return iri_list[pref_index], nonpref_iris
    return terms_ilx, iri_list

def get_pref_unpref_iris(seg_df, terms_ilx):
    iri_list = list(map(str, list(seg_df.iri)))
    pref_list = list(map(int, list(seg_df.preferred)))
    return helper_pref_filter(iri_list=iri_list, pref_list=pref_list, terms_ilx=terms_ilx)

def make_preferred_iris_dict(g, subj_id, pred_id, obj_id):
    data =  '''
            SELECT t.id, tei.tid, tei.iri, tei.preferred, t.ilx, t.type, t.label, t.definition
            FROM terms AS t
            JOIN term_existing_ids AS tei ON t.id=tei.tid
            WHERE t.ilx = %s
            OR t.id = %s
            OR t.id = %s
            ''' % (subj_id, pred_id, obj_id) 
    df = pd.read_sql(data, engine)

    pref_dict = {}
    ilx_to_pref = {}
    unpref_dict = {}
    
    for curr_id in df['id']:
        seg_df = df.loc[df.id == (curr_id)]
        pref_iri, unpref_iris = get_pref_unpref_iris(seg_df=seg_df, terms_ilx='ilx:'+list(seg_df.ilx)[0])
        pref_dict[curr_id] = g.qname(pref_iri)
        unpref_dict[curr_id] = unpref_iris
        ilx_to_pref[list(seg_df.ilx)[0]] = g.qname(pref_iri)
    return pref_dict, ilx_to_pref, unpref_dict

In [97]:
curr_id = 12773
data =  '''
        SELECT 
            tr.term1_id, 
            t1.ilx AS term1_ilx, 
            tr.relationship_tid, 
            t2.ilx AS relationship_ilx, 
            tr.term2_id,
            t3.ilx AS term2_ilx
        FROM term_relationships as tr
        JOIN terms as t1 ON t1.id = tr.term1_id
        JOIN terms as t2 ON t2.id = tr.relationship_tid
        JOIN terms as t3 ON t3.id = tr.term2_id
        WHERE tr.relationship_tid = %s;
        ''' % curr_id
df = pd.read_sql(data, engine)
df

,term1_id,term1_ilx,relationship_tid,relationship_ilx,term2_id,term2_ilx
0,745,tmp_0100744,12773,tmp_0112772,6392,tmp_0106391
1,836,tmp_0100835,12773,tmp_0112772,838,tmp_0100837
2,838,tmp_0100837,12773,tmp_0112772,836,tmp_0100835
3,1411,tmp_0101410,12773,tmp_0112772,9994,tmp_0109993
4,1735,tmp_0101734,12773,tmp_0112772,1979,tmp_0101978
5,1735,tmp_0101734,12773,tmp_0112772,9210,tmp_0109209
6,1735,tmp_0101734,12773,tmp_0112772,690,tmp_0100689
7,1735,tmp_0101734,12773,tmp_0112772,5464,tmp_0105463
8,1735,tmp_0101734,12773,tmp_0112772,11329,tmp_0111328
9,1739,tmp_0101738,12773,tmp_0112772,4209,tmp_0104208
10,1888,tmp_0101887,12773,tmp_0112772,6044,tmp_0106043
11,1888,tmp_0101887,12773,tmp_0112772,997,tmp_0100996
12,1888,tmp_0101887,12773,tmp_0112772,9132,tmp_0109131
13,1891,tmp_0101890,12773,tmp_0112772,2010,tmp_0102009
14,3085,tmp_0103084,12773,tmp_0112772,6101,tmp_0106100
15,3085,tmp_0103084,12773,tmp_0112772,5449,tmp_0105448
16,3085,tmp_0103084,12773,tmp_0112772,9993,tmp_0109992
17,3457,tmp_0103456,12773,tmp_0112772,9994,tmp_0109993
18,3457,tmp_0103456,12773,tmp_0112772,11657,tmp_0111656
19,4123,tmp_0104122,12773,tmp_0112772,12453,tmp_0112452
20,4123,tmp_0104122,12773,tmp_0112772,5449,tmp_0105448
21,4123,tmp_0104122,12773,tmp_0112772,9993,tmp_0109992
22,4123,tmp_0104122,12773,tmp_0112772,6101,tmp_0106100
23,4123,tmp_0104122,12773,tmp_0112772,6944,tmp_0106943
24,4123,tmp_0104122,12773,tmp_0112772,10910,tmp_0110909
25,4123,tmp_0104122,12773,tmp_0112772,11283,tmp_0111282
26,4123,tmp_0104122,12773,tmp_0112772,5626,tmp_0105625
27,4123,tmp_0104122,12773,tmp_0112772,7754,tmp_0107753
28,4661,tmp_0104660,12773,tmp_0112772,11099,tmp_0111098
29,5458,tmp_0105457,12773,tmp_0112772,4492,tmp_0104491
...,...,...,...,...,...,...
79,9165,tmp_0109164,12773,tmp_0112772,9253,tmp_0109252
80,9165,tmp_0109164,12773,tmp_0112772,8478,tmp_0108477
81,9165,tmp_0109164,12773,tmp_0112772,3860,tmp_0103859
82,9165,tmp_0109164,12773,tmp_0112772,8748,tmp_0108747
83,9165,tmp_0109164,12773,tmp_0112772,5109,tmp_0105108
84,9165,tmp_0109164,12773,tmp_0112772,12425,tmp_0112424
85,9165,tmp_0109164,12773,tmp_0112772,6698,tmp_0106697
86,9165,tmp_0109164,12773,tmp_0112772,2231,tmp_0102230
87,9165,tmp_0109164,12773,tmp_0112772,756,tmp_0100755
88,9165,tmp_0109164,12773,tmp_0112772,780,tmp_0100779
89,9165,tmp_0109164,12773,tmp_0112772,10086,tmp_0110085
90,9165,tmp_0109164,12773,tmp_0112772,11352,tmp_0111351
91,9165,tmp_0109164,12773,tmp_0112772,3470,tmp_0103469
92,9550,tmp_0109549,12773,tmp_0112772,7120,tmp_0107119
93,9723,tmp_0109722,12773,tmp_0112772,1964,tmp_0101963
94,11099,tmp_0111098,12773,tmp_0112772,7351,tmp_0107350
95,11227,tmp_0111226,12773,tmp_0112772,4659,tmp_0104658
96,11227,tmp_0111226,12773,tmp_0112772,1979,tmp_0101978
97,11227,tmp_0111226,12773,tmp_0112772,11220,tmp_0111219
98,11227,tmp_0111226,12773,tmp_0112772,8644,tmp_0108643
99,11915,tmp_0111914,12773,tmp_0112772,12298,tmp_0112297
100,12327,tmp_0112326,12773,tmp_0112772,7737,tmp_0107736
101,12347,tmp_0112346,12773,tmp_0112772,5022,tmp_0105021
102,12347,tmp_0112346,12773,tmp_0112772,3860,tmp_0103859
103,12347,tmp_0112346,12773,tmp_0112772,5464,tmp_0105463
104,12352,tmp_0112351,12773,tmp_0112772,5022,tmp_0105021
105,12352,tmp_0112351,12773,tmp_0112772,1445,tmp_0101444
106,12352,tmp_0112351,12773,tmp_0112772,9210,tmp_0109209
107,12352,tmp_0112351,12773,tmp_0112772,574,tmp_0100573
108,12515,tmp_0112514,12773,tmp_0112772,3457,tmp_0103456

In [71]:
data =  '''
        SELECT *
        FROM terms AS t 
        WHERE t.type = 'relationship'
        AND t.id = 12773
        '''
df_info = pd.read_sql(data, engine)
df_info

,id,ilx,orig_uid,orig_cid,uid,cid,label,definition,comment,type,version,status,display_superclass,orig_time,time
0,12773,tmp_0112772,32290,0,32290,0,Afferent projection,,,relationship,1,0,1,1481278957,1481278957

In [74]:
data =  '''
        SELECT tr.term1_id, tr.relationship_tid, tr.term2_id FROM term_relationships as tr
        WHERE tr.relationship_tid=12773;
        '''
df_rel = pd.read_sql(data, engine)
df_rel

     term1_id  relationship_tid  term2_id
0         745             12773      6392
1         836             12773       838
2         838             12773       836
3        1411             12773      9994
4        1735             12773      1979
5        1735             12773      9210
6        1735             12773       690
7        1735             12773      5464
8        1735             12773     11329
9        1739             12773      4209
10       1888             12773      6044
11       1888             12773       997
12       1888             12773      9132
13       1891             12773      2010
14       3085             12773      6101
15       3085             12773      5449
16       3085             12773      9993
17       3457             12773      9994
18       3457             12773     11657
19       4123             12773     12453
20       4123             12773      5449
21       4123             12773      9993
22       4123             12773      6101
23       4123             12773      6944
24       4123             12773     10910
25       4123             12773     11283
26       4123             12773      5626
27       4123             12773      7754
28       4661             12773     11099
29       5458             12773      4492
..        ...               ...       ...
79       9165             12773      9253
80       9165             12773      8478
81       9165             12773      3860
82       9165             12773      8748
83       9165             12773      5109
84       9165             12773     12425
85       9165             12773      6698
86       9165             12773      2231
87       9165             12773       756
88       9165             12773       780
89       9165             12773     10086
90       9165             12773     11352
91       9165             12773      3470
92       9550             12773      7120
93       9723             12773      1964
94      11099             12773      7351
95      11227             12773      4659
96      11227             12773      1979
97      11227             12773     11220
98      11227             12773      8644
99      11915             12773     12298
100     12327             12773      7737
101     12347             12773      5022
102     12347             12773      3860
103     12347             12773      5464
104     12352             12773      5022
105     12352             12773      1445
106     12352             12773      9210
107     12352             12773       574
108     12515             12773      3457

[109 rows x 3 columns]

In [5]:
def id_to_ilx(curr_id):
    data =  '''
            SELECT * FROM terms
            WHERE terms.id = %s;
            ''' % curr_id
    df_terms = pd.read_sql(data, engine)
    return df_terms.ilx[0]

In [6]:
def create_graph(filename):
    g = createOntology(filename=filename,
                       name='Interlex Total',
                       prefixes={**{'Testernvs':'http://whatever.com/'},
                                    **makePrefixes('ILXREPLACE',
                                             'ilx',
                                             'NIFRID',
                                             'NCBIGene',
                                             'NCBITaxon',
                                             'skos',
                                             'owl',
                                             'definition',
                                             'ILX',
                                             )},
                       shortname='Interlex',
                       version='This file is generated by pyontutils/slimgen to make deprecated '
                               'classes resolvablefrom the full ChEBI nightly at versionIRI %s based '
                               'on the list of terms in %s.' % ('1.0', 'Beta'),
                       remote_base='http://uri.interlex.org/ontologies/',
                       path='/Users/tmsincomb/Desktop/dump/',
                       local_base='')
    return g

g=create_graph('Single_Turtle')
_id = 12773
#segment of relationship links per 1 terms id
#first is 12773
seg_df = df_rel.loc[df_rel.relationship_tid == _id]
for row_rel in seg_df.itertuples():
    #need to get id to pref, must go through ilx because multiple may exist 
    #so filter ilx first and pick one to convert to pref
    pref_dict, ilx_to_pref, unpref_dict = make_preferred_iris_dict(g, row_rel.term1_id, row_rel.relationship_tid, row_rel.term2_id)

    subj, pred, obj = id_to_ilx(row_rel.term1_id), id_to_ilx(row_rel.relationship_tid), id_to_ilx(row_rel.term2_id)
    subj, pred, obj = ilx_to_pref[subj], ilx_to_pref[pred], ilx_to_pref[obj]
    #print(subj, pred, obj)

    g.add_hierarchy(subj, pred, obj)
        
g.write()
with open('/Users/tmsincomb/Desktop/dump/Single_Turtle.ttl', 'r') as f:
    for line in f.readlines():
        print(line)

@prefix : <file:///ERROR/EMPTY/PREFIX/BANNED/> .

@prefix definition: <http://purl.obolibrary.org/obo/IAO_0000115> .

@prefix ilx: <http://uri.interlex.org/base/> .

@prefix ILX: <http://uri.interlex.org/base/ilx_> .

@prefix ILXREPLACE: <http://ILXREPLACE.org/> .

@prefix NCBIGene: <http://www.ncbi.nlm.nih.gov/gene/> .

@prefix NCBITaxon: <http://purl.obolibrary.org/obo/NCBITaxon_> .

@prefix NIFRID: <http://uri.neuinfo.org/nif/nifstd/readable/> .

@prefix owl: <http://www.w3.org/2002/07/owl#> .

@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .

@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .

@prefix skos: <http://www.w3.org/2004/02/skos/core#> .

@prefix Testernvs: <http://whatever.com/> .

@prefix xml: <http://www.w3.org/XML/1998/namespace> .

@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .



<http://uri.interlex.org/ontologies//Users/tmsincomb/Desktop/dump/Single_Turtle.ttl> a owl:Ontology ;

    rdfs:label "Interlex Total" ;

    owl:versionInfo "This file is generated by pyontutils/slimgen to make deprecated classes resolvablefrom the full ChEBI nightly at versionIRI 1.0 based on the list of terms in Beta." ;

    skos:altLabel "Interlex" .



### Classes



ilx:tmp_0100573 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0112351 ] .



ilx:tmp_0100689 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0101734 ] .



ilx:tmp_0100755 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0109164 ] .



ilx:tmp_0100778 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106704 ] .



ilx:tmp_0100779 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0109164 ] .



ilx:tmp_0100835 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0100837 ] .



ilx:tmp_0100837 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0100835 ] .



ilx:tmp_0100882 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106087 ] .



ilx:tmp_0100996 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0101887 ] .



ilx:tmp_0101100 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0108749 ] .



ilx:tmp_0101444 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0112351 ] .



ilx:tmp_0101520 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0109164 ] .



ilx:tmp_0101963 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0109722 ] .



ilx:tmp_0101978 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0101734 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0111226 ] .



ilx:tmp_0102009 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0101890 ] .



ilx:tmp_0102179 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0108749 ] .



ilx:tmp_0102230 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0109164 ] .



ilx:tmp_0102669 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0109125 ] .



ilx:tmp_0103456 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0112514 ] .



ilx:tmp_0103469 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0109164 ] .



ilx:tmp_0103471 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0107743 ] .



ilx:tmp_0103833 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0108433 ] .



ilx:tmp_0103859 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0109164 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0112346 ] .



ilx:tmp_0104208 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0101738 ] .



ilx:tmp_0104491 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0105457 ] .



ilx:tmp_0104658 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0111226 ] .



ilx:tmp_0104729 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106651 ] .



ilx:tmp_0105021 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0112346 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0112351 ] .



ilx:tmp_0105108 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0109164 ] .



ilx:tmp_0105448 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0103084 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0104122 ] .



ilx:tmp_0105463 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0101734 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0112346 ] .



ilx:tmp_0105602 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106474 ] .



ilx:tmp_0105625 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0104122 ] .



ilx:tmp_0106043 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0101887 ] .



ilx:tmp_0106100 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0103084 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0104122 ] .



ilx:tmp_0106391 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0100744 ] .



ilx:tmp_0106697 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0109164 ] .



ilx:tmp_0106744 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106087 ] .



ilx:tmp_0106943 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0104122 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0108433 ] .



ilx:tmp_0107119 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0109549 ] .



ilx:tmp_0107350 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0111098 ] .



ilx:tmp_0107736 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0112326 ] .



ilx:tmp_0107745 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106087 ] .



ilx:tmp_0107753 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0104122 ] .



ilx:tmp_0107793 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106087 ] .



ilx:tmp_0107921 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0107974 ] .



ilx:tmp_0108110 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0108749 ] .



ilx:tmp_0108441 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0108749 ] .



ilx:tmp_0108477 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106075 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106500 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0109164 ] .



ilx:tmp_0108643 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0107787 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0111226 ] .



ilx:tmp_0108747 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0109164 ] .



ilx:tmp_0109131 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0101887 ] .



ilx:tmp_0109164 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106075 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106500 ] .



ilx:tmp_0109209 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0101734 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0112351 ] .



ilx:tmp_0109252 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106500 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0109164 ] .



ilx:tmp_0109258 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0108433 ] .



ilx:tmp_0109334 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0108433 ] .



ilx:tmp_0109992 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0103084 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0104122 ] .



ilx:tmp_0109993 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0101410 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0103456 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0107759 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0107998 ] .



ilx:tmp_0110085 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0109164 ] .



ilx:tmp_0110516 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106075 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106500 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106660 ] .



ilx:tmp_0110909 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0104122 ] .



ilx:tmp_0111098 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0104660 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0108433 ] .



ilx:tmp_0111168 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106660 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0109164 ] .



ilx:tmp_0111219 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0111226 ] .



ilx:tmp_0111282 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0104122 ] .



ilx:tmp_0111328 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0101734 ] .



ilx:tmp_0111351 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106075 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106500 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106660 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0109164 ] .



ilx:tmp_0111656 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0103456 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0108433 ] .



ilx:tmp_0111657 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0108643 ] .



ilx:tmp_0112051 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106075 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106500 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106660 ] .



ilx:tmp_0112297 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106669 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0111914 ] .



ilx:tmp_0112326 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106636 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0107736 ] .



ilx:tmp_0112355 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106500 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106660 ] .



ilx:tmp_0112424 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0109164 ] .



ilx:tmp_0112452 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0104122 ],

        [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0106087 ] .



ilx:tmp_0112564 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0107936 ] .



ilx:tmp_0112736 a owl:Class ;

    rdfs:subClassOf [ a owl:Restriction ;

            owl:onProperty ILX:0112772 ;

            owl:someValuesFrom ilx:tmp_0108433 ] .



### Serialized using the nifstd custom serializer v1.1.0

In [68]:
data =  '''
        SELECT *
        FROM terms AS t
        WHERE t.type = 'relationship'
        '''
df_info = pd.read_sql(data, engine)
#seg_df = df_info.loc[df_info.label == 'Has role']
seg_df = df_info.loc[df_info.label == 'Has role']
_id = seg_df.id
_id

12    12785
Name: id, dtype: int64

In [100]:
wage_month = 1339*2 - 1228 - 400
bank = 1500 + 20 + 60 + 160
print('dec', bank)
bank += wage_month - 1400
print('Jan', bank)
bank += wage_month - 1800
print('Feb', bank)
bank += wage_month
print('March', bank)
bank += wage_month - 1400
print('April', bank)
bank += wage_month
print('May', bank)
bank += wage_month
print('June', bank)

dec 1740
Jan 1390
Feb 640
March 1690
April 1340
May 2390
June 3440